services:
  postgres:
    image: postgres
    platform: linux/arm64
    restart: unless-stopped
    ports:
      - "35432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=test
